{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/css/paginador.css') }}">
{% endblock %}

{% block title %}Nuestros proyectos{% endblock %}

{% block item2 %}active{% endblock %}

{% block criterio %}{{ app.request.query.get('q') }}{% endblock %}

{% block cuerpo %}
	<div class="banner rounded">
        <h1>Comienza tu compromiso con el medioambiente</h1>
        <h2>Tenemos {{ num_proyectos_activos|number_format }} proyectos a la espera de ser apadrinados</h2>
	</div>

	<hr class="bg-dark">

	<div class="row">

        {% for proyecto in pagination %}

			<article class="col-md-6 pr-md-4">

				<h3 class="text-center"><a href="{{ path('proyecto', {'slug': proyecto.slug }) }}">{{ proyecto.nombre }}</a></h3>

				<figure>
					<img class="img-fluid rounded" src="{{ asset('build/img/'~proyecto.foto) }}" alt="{{ proyecto.nombre }}">
				</figure>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex cum nulla quibusdam saepe repudiandae vitae facilis nobis dolores quasi, quis quidem non nihil suscipit? Tempora repellat explicabo nisi <a href="{{ path('proyecto', {'slug' : proyecto.slug}) }}" class="link">Leer más...</a></p>

				<h4 class="mb-3"><strong>Necesidad:</strong> 10 voluntarios, 100€</h4>

				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: 36%;" aria-valuemin="0" aria-valuemax="100">36%</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div class="h3" id="like1">
						<a id="corazon{{ proyecto.id }}" href="javascript:void(0);" onclick="gustar({{ proyecto.id }});"><i class="far fa-heart"></i></a> <span id="likes{{ proyecto.id }}">12</span>
					</div>
					<div class="h2 textoRojo">
						<a class="like" href="#"><i class="fab fa-facebook-square"></i></a>
						<a class="like" href="#"><i class="fab fa-twitter-square"></i></a>
						<a class="like" href="#"><i class="fab fa-google-plus-square"></i></a>
					</div>
					<div class="subir">
						<button class="btn">Apadrinar</button>
					</div>
				</div>

				<hr class="linea">

			</article>

		{% else %}

			<div class="col-12 text-center">
				<h2>¡No se ha encontrado ningún proyecto!</h2>
			</div>

		{% endfor %}

	</div>

	<div class="paginador">
        {{ knp_pagination_render(pagination) }}
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<!--Javascript personal-->
	<script src="{{ asset('build/js/script.js') }}"></script>

{% endblock %}