{% extends 'base.html.twig' %}

{% block cuerpo %}

	<h3>{{ proyecto.nombre }}</h3>
	<figure>
		<img class="img-fluid rounded imgIzq" src="{{ asset('build/img/'~proyecto.foto) }}" alt="{{ proyecto.nombre }}">
	</figure>

	{{ proyecto.descripcion|nl2br }}

	<h4 class="mb-3"><strong>Necesidad:</strong> 10 voluntarios, 100€</h4>

	<div class="row">
		<div class="col-lg-6">
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 36%;" aria-valuemin="0" aria-valuemax="100">36%</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="d-flex justify-content-between subir">
				<div class="h3" id="like1">
					<a id="corazon{{ proyecto.id }}" href="javascript:void(0);" onclick="gustar({{ proyecto.id }});"><i class="far fa-heart"></i></a> <span id="likes{{ proyecto.id }}">12</span>
				</div>

				<div class="h2 textoRojo">
					<a class="like" href="#"><i class="fab fa-facebook-square"></i></a>
					<a class="like" href="#"><i class="fab fa-twitter-square"></i></a>
					<a class="like" href="#"><i class="fab fa-google-plus-square"></i></a>
				</div>

				<div>
					<button class="btn">Apadrinar</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<!--Javascript personal-->
	<script src="{{ asset('build/js/script.js') }}"></script>

{% endblock %}